@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);
header {
  position: relative; }
  header #headerSection {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20; }
    header #headerSection .row .headLogo {
      position: absolute;
      display: block;
      pointer-events: auto;
      left: calc((100vw - 100vw * 0.96));
      top: 26px;
      z-index: 19; }
      header #headerSection .row .headLogo .headImageBox {
        z-index: 8;
        cursor: pointer;
        color: white;
        width: 218px;
        height: 63px;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        backdrop-filter: none;
        filter: brightness(100%);
        transform-origin: 50% 50%;
        opacity: 1;
        transform: translate(0px, 0px);
        visibility: visible;
        border-width: 0px; }
        header #headerSection .row .headLogo .headImageBox a img {
          position: relative;
          height: 100%;
          width: 100%; }
    header #headerSection .row .headRight {
      position: absolute;
      display: block;
      pointer-events: auto;
      right: calc((100vw - 100vw * 1.93));
      top: 26px;
      z-index: 19; }
      header #headerSection .row .headRight .headLoginLangueage {
        display: flex;
        flex-direction: column;
        align-items: center; }
        header #headerSection .row .headRight .headLoginLangueage .headLanguage .dropdown {
          z-index: 24;
          visibility: visible;
          perspective: 601px;
          display: inline-block;
          background-color: #f9f9f9;
          width: 54px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 8px 0px 8px 8px;
          z-index: 21;
          border-radius: 9px;
          cursor: pointer;
          color: #8e8e93;
          text-decoration: none;
          white-space: nowrap;
          line-height: 25px;
          letter-spacing: 0px;
          font-weight: 400;
          font-size: 20px;
          opacity: 1;
          transform: translate(0px, 0px);
          visibility: visible;
          border-width: 0px; }
          header #headerSection .row .headRight .headLoginLangueage .headLanguage .dropdown .arrow-down {
            position: absolute;
            top: 50%;
            right: 7px;
            transform: translateY(-50%) rotate(135deg);
            width: 10px;
            height: 10px;
            border-left: 3px solid rgba(142, 142, 147, 0.671);
            border-bottom: 3px solid rgba(142, 142, 147, 0.671);
            color: #8e8e93; }
          header #headerSection .row .headRight .headLoginLangueage .headLanguage .dropdown a {
            color: #8e8e93;
            text-decoration: none; }
          header #headerSection .row .headRight .headLoginLangueage .headLanguage .dropdown .dropdown-content {
            color: #8e8e93;
            border-radius: 7px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: 54px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            padding: 8px 0;
            top: 30px;
            left: 0px; }
            header #headerSection .row .headRight .headLoginLangueage .headLanguage .dropdown .dropdown-content ul {
              list-style: none;
              padding: 0;
              margin: 0; }
              header #headerSection .row .headRight .headLoginLangueage .headLanguage .dropdown .dropdown-content ul li {
                padding: 5px 10px;
                cursor: pointer;
                transition: background-color 0.3s ease; }
                header #headerSection .row .headRight .headLoginLangueage .headLanguage .dropdown .dropdown-content ul li a {
                  color: #8e8e93;
                  cursor: pointer;
                  transition: background-color 0.3s ease; }
              header #headerSection .row .headRight .headLoginLangueage .headLanguage .dropdown .dropdown-content ul li:hover {
                background-color: #e9e9e9; }
        header #headerSection .row .headRight .headLoginLangueage .headLanguage .active .dropdown-content {
          display: block; }
        header #headerSection .row .headRight .headLoginLangueage .headLanguage .active .arrow-down {
          transform: translateY(-50%) rotate(-45deg); }
        header #headerSection .row .headRight .headLoginLangueage .headLogin {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 19;
          background-color: white;
          cursor: pointer;
          height: 47px;
          width: 47px;
          color: white;
          text-decoration: none;
          border-radius: 30px;
          opacity: 1;
          transform: translate(0px, 0px);
          visibility: visible;
          border-color: white;
          padding: 4px;
          transition: all 0.4s; }
          header #headerSection .row .headRight .headLoginLangueage .headLogin a {
            transition: all 0.4s; }
            header #headerSection .row .headRight .headLoginLangueage .headLogin a .userWhiteImage {
              display: none;
              transition: all 0.4s; }
            header #headerSection .row .headRight .headLoginLangueage .headLogin a img {
              width: 100% !important;
              border-radius: 50%;
              transition: all 0.4s; }
            header #headerSection .row .headRight .headLoginLangueage .headLogin a .userImage {
              transition: all 0.4s; }
        header #headerSection .row .headRight .headLoginLangueage .headLogin:hover {
          background-color: #00a7c6; }
          header #headerSection .row .headRight .headLoginLangueage .headLogin:hover a .userImage {
            display: none;
            transition: all 0.4s; }
          header #headerSection .row .headRight .headLoginLangueage .headLogin:hover a .userWhiteImage {
            display: block;
            transition: all 0.4s; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* url(../fonts/SpartanMB-Medium.ttf) format("truetype"), url(../fonts/SpartanMB-Medium.woff) format("woff"), url(../fonts/SpartanMB-Medium.woff2) format("woff2") */
@font-face {
  font-family: SpartanMB;
  src: url(../fonts/SpartanMB-Medium.eot);
  src: url(../fonts/SpartanMB-Medium%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/SpartanMB-Medium.svg#SpartanMB-Medium) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: SpartanMB;
  src: url(../fonts/SpartanMB-SemiBold.eot);
  src: url(../fonts/SpartanMB-SemiBold%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/SpartanMB-SemiBold.svg#SpartanMB-SemiBold) format("svg"), url(../fonts/SpartanMB-SemiBold.ttf) format("truetype"), url(../fonts/SpartanMB-SemiBold.woff) format("woff"), url(../fonts/SpartanMB-SemiBold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: SpartanMB;
  src: url(../fonts/SpartanMB-Bold.eot);
  src: url(../fonts/SpartanMB-Bold%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/SpartanMB-Bold.svg#SpartanMB-Bold) format("svg"), url(../fonts/SpartanMB-Bold.ttf) format("truetype"), url(../fonts/SpartanMB-Bold.woff) format("woff"), url(../fonts/SpartanMB-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal; }
* {
  box-sizing: border-box; }
  * h1,
  * h2,
  * h3,
  * h4,
  * h5,
  * h6,
  * a,
  * p,
  * span,
  * li {
    font-family: SpartanMB, sans-serif;
    color: #111111; }

body {
  background-color: #eeecec; }
  body .row {
    --bs-gutter-x: 0rem; }
  body ul {
    padding: 0px;
    margin-bottom: 0px; }
  body a {
    text-decoration: none; }

@media (min-width: 992px) {
  #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .row {
    display: flex;
    align-items: center; }
    #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .col-lg-4 {
      width: 30%; }

  .modal-lg,
  .modal-xl {
    max-width: 1146px !important; } }
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1290px !important; } }
main {
  position: relative; }

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s; }
    .slider .slide.active {
      opacity: 1; }
    .slider .slide img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      pointer-events: none; }

#sliderBoxs .sliderRangeBox {
  position: absolute;
  top: 0;
  left: calc((100vw - 100vw * 0.600));
  transition: all 0.4s; }
  #sliderBoxs .sliderRangeBox .revolutionSliderclass .kutus .kutu a .kutuFeature {
    width: 218px;
    height: 218px;
    display: flex;
    align-items: end;
    padding: 0px 0px 12px 12px;
    line-height: 21px;
    transition: all 0.4s; }
    #sliderBoxs .sliderRangeBox .revolutionSliderclass .kutus .kutu a .kutuFeature span {
      font-weight: bold;
      font-size: 21px; }
  #sliderBoxs .sliderRangeBox .revolutionSliderclass .kutus .kutu:hover .slide {
    opacity: 1; }

#boxDesctipions {
  z-index: 20;
  position: absolute;
  top: 290px;
  left: calc((100vw - 100vw * 0.745));
  transition: all 0.4s; }
  #boxDesctipions .row .boxDesc {
    width: 200px !important;
    display: none; }
    #boxDesctipions .row .boxDesc h2 {
      z-index: 5;
      text-decoration: none;
      white-space: nowrap;
      line-height: 70px;
      letter-spacing: 2px;
      font-weight: 550;
      font-size: 63px; }
    #boxDesctipions .row .boxDesc p {
      z-index: 6;
      text-decoration: none;
      white-space: nowrap;
      line-height: 21px;
      letter-spacing: 0px;
      font-weight: 400;
      font-size: 17px;
      transform: translate(0px, 0px); }
    #boxDesctipions .row .boxDesc .boxDescButton {
      z-index: 7;
      margin-top: 30px; }
      #boxDesctipions .row .boxDesc .boxDescButton a {
        padding: 12px 18px 12px 18px;
        color: white;
        text-align: left;
        line-height: 24px;
        letter-spacing: 0px;
        font-weight: 700;
        font-size: 17px;
        transition: all 0.4s; }
      #boxDesctipions .row .boxDesc .boxDescButton a:hover {
        padding: 11px 15px 11px 15px;
        opacity: 0.9; }
  #boxDesctipions .row .active {
    display: block; }

@media only screen and (max-width: 1346px) {
  #sliderBoxs .sliderRangeBox {
    left: calc((100vw - 100vw * 0.670)) !important; }
    #sliderBoxs .sliderRangeBox .revolutionSliderclass .kutus .kutu a .kutuFeature {
      transition: all 0.4s; }

  #boxDesctipions {
    left: calc((100vw - 100vw * 0.845)); }
    #boxDesctipions .row .boxDesc h2 {
      font-size: 59px; }
    #boxDesctipions .row .boxDesc p {
      font-size: 16px; }
    #boxDesctipions .row .boxDesc .boxDescButton a {
      padding: 10px 16px 10px 16px;
      font-size: 17px; } }
@media only screen and (max-width: 1180px) {
  #sliderBoxs .sliderRangeBox {
    left: calc((100vw - 100vw * 0.715)) !important; }
    #sliderBoxs .sliderRangeBox .revolutionSliderclass .kutus .kutu a .kutuFeature {
      width: 201px !important;
      height: 201px !important; }

  #boxDesctipions .row .boxDesc h2 {
    font-size: 56px; }
  #boxDesctipions .row .boxDesc p {
    font-size: 16px; }
  #boxDesctipions .row .boxDesc .boxDescButton {
    z-index: 7;
    margin-top: 30px; }
    #boxDesctipions .row .boxDesc .boxDescButton a {
      padding: 10px 16px 10px 16px;
      font-size: 17px; } }
@media (max-height: 700px) {
  #sliderBoxs .sliderRangeBox .revolutionSliderclass .kutus .kutu a .kutuFeature {
    width: 200px !important;
    height: 200px !important; } }
@media (min-height: 800px) {
  #sliderBoxs .sliderRangeBox {
    top: 38px !important; } }
.modal,
.fade {
  background-color: transparent !important; }
  .modal .modal-dialog,
  .fade .modal-dialog {
    transform: translate(0, -25px) !important;
    display: flex !important;
    align-items: center !important;
    height: 100vh !important; }
    .modal .modal-dialog .modal-content,
    .fade .modal-dialog .modal-content {
      border: 0px solid rgba(0, 0, 0, 0.2) !important;
      border-radius: 1.5rem !important;
      box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.275); }
      .modal .modal-dialog .modal-content .modal-header,
      .fade .modal-dialog .modal-content .modal-header {
        padding: 1rem 2rem 1rem !important;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(0.3rem - 1px);
        border-top-right-radius: calc(0.3rem - 1px); }
        .modal .modal-dialog .modal-content .modal-header h2,
        .fade .modal-dialog .modal-content .modal-header h2 {
          color: #00a7c6;
          margin-bottom: 0;
          line-height: 1.5;
          font-size: 2.5rem;
          font-weight: 500; }
        .modal .modal-dialog .modal-content .modal-header button,
        .fade .modal-dialog .modal-content .modal-header button {
          padding: 1rem 1rem;
          margin: -1rem -1rem -1rem auto;
          float: right;
          font-weight: 700;
          line-height: 1;
          color: #000000c0;
          opacity: .5;
          background-color: transparent;
          border: none;
          font-size: 1.2rem; }
        .modal .modal-dialog .modal-content .modal-header button:hover,
        .fade .modal-dialog .modal-content .modal-header button:hover {
          color: #000 !important; }
      .modal .modal-dialog .modal-content .modal-body,
      .fade .modal-dialog .modal-content .modal-body {
        padding: 1rem 2.1rem 2rem 2rem !important;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left; }
      .modal .modal-dialog .modal-content .modal-footer,
      .fade .modal-dialog .modal-content .modal-footer {
        padding: 1rem 2rem 2rem 2rem !important; }

.show {
  display: block !important; }

#servicesModalScrollable {
  top: 8%  !important; }
  #servicesModalScrollable .modal-dialog .modal-content .modal-body {
    padding-bottom: 120px !important; }
    #servicesModalScrollable .modal-dialog .modal-content .modal-body .row .servicesBox {
      position: relative; }
      #servicesModalScrollable .modal-dialog .modal-content .modal-body .row .servicesBox .servicesModalImage img {
        position: absolute;
        top: 96%;
        left: 45%; }
    #servicesModalScrollable .modal-dialog .modal-content .modal-body .row .boxPadding {
      border-right: 1px solid;
      border-left: 1px solid; }
    #servicesModalScrollable .modal-dialog .modal-content .modal-body .row .iceri {
      padding-left: 2em;
      padding-right: 2em; }
    #servicesModalScrollable .modal-dialog .modal-content .modal-body .row .leftP {
      padding-left: 2.5em; }
    #servicesModalScrollable .modal-dialog .modal-content .modal-body .row .rightP {
      padding-right: 2.5em; }

#projectsModalScrollable {
  top: 2% !important; }
  #projectsModalScrollable .modal-dialog .modal-content .modal-body {
    padding-bottom: 20px !important; }
    #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .projectBoxs {
      margin-right: 30px;
      padding-bottom: 20px; }
      #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .projectBoxs .projectBoxTitle {
        color: #1e2e50d7;
        font-size: 23px; }
      #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .projectBoxs .projectBoxTitle:hover {
        color: #090e18; }
      #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .projectBoxs a img {
        width: 100%;
        transition: transform 0.3s;
        transform: scale(1); }
      #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .projectBoxs a:hover img {
        transform: translateY(-10px); }
      #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .projectBoxs .postReadText {
        color: #2083fe !important;
        transition: all 0.4s; }
      #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .projectBoxs .postReadText:hover {
        color: #015ed1; }
    #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .projectBackBtn {
      color: #2083fe;
      background-color: #e4f0ff;
      transform: scale(1);
      transition: transform 0.4s;
      text-transform: uppercase !important;
      font-weight: 400 !important;
      letter-spacing: 2px !important;
      font-size: 24ox !important;
      padding: 0.4rem 1.1rem;
      line-height: 1.5;
      margin-bottom: 17px; }
      #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .projectBackBtn i {
        margin-right: 7px;
        font-size: .875em; }
    #projectsModalScrollable .modal-dialog .modal-content .modal-body section .container .projectBackBtn:hover {
      transform: translateY(-6px);
      background-color: #c1dcff; }

#contactModalScrollable .modal-dialog .modal-content .modal-body .containerContact {
  padding: 0px 30px 25px 30px !important; }
  #contactModalScrollable .modal-dialog .modal-content .modal-body .containerContact .row .contactMap {
    padding-right: 30px;
    border-right: 1px solid; }
    #contactModalScrollable .modal-dialog .modal-content .modal-body .containerContact .row .contactMap h4 {
      font-weight: 500;
      font-style: 1.5rem; }
  #contactModalScrollable .modal-dialog .modal-content .modal-body .containerContact .row .contactInfo {
    padding-left: 30px; }
    #contactModalScrollable .modal-dialog .modal-content .modal-body .containerContact .row .contactInfo p {
      font-weight: normal; }

.camModal .modal-dialog .modal-content .modal-body section .container .row a {
  color: #2083fe;
  background-color: #e4f0ff;
  transform: scale(1);
  transition: transform 0.4s;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  letter-spacing: 2px !important;
  font-size: 24ox !important;
  padding: 0.4rem 1.1rem;
  line-height: 1.5; }
  .camModal .modal-dialog .modal-content .modal-body section .container .row a i {
    margin-right: 7px;
    font-size: .875em; }
.camModal .modal-dialog .modal-content .modal-body section .container .row a:hover {
  transform: translateY(-6px);
  background-color: #c1dcff; }

#camsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .camBox {
  padding-right: 28px;
  margin-bottom: 25px; }
  #camsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .camBox a img {
    transition: all 0.4s;
    transform: scale(1); }
#camsModalScrollable .modal-dialog .modal-content .modal-body section .container .row .camBox:hover a img {
  transform: translateY(-10px); }

.projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders .projectSlide {
    width: 100%;
    height: auto;
    display: none; }
    .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders .projectSlide .image-container {
      width: 100%;
      height: 0;
      padding-bottom: calc(100% / (16 / 9));
      /* Ya da resmin oranına göre ayarlayın */
      position: relative; }
      .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders .projectSlide .image-container a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0; }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders .prev-btn,
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders .next-btn {
    background-color: transparent;
    color: #00a7c6;
    font-size: 46px;
    text-decoration: none;
    padding: 10px 20px;
    /* Kalınlığı buradan ayarlayabilirsiniz */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    /* Geçiş süresini buradan ayarlayabilirsiniz */ }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders .prev-btn {
    left: 6px; }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders .next-btn {
    right: 6px; }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders .prev-btn:hover,
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectSliders .next-btn:hover {
    transition: opacity 0.3s;
    opacity: 0.7;
    color: #5e97a1;
    /* İstenilen opaklık değerini buradan ayarlayabilirsiniz */ }
.projectModal .modal-dialog .modal-content .modal-body section .container .row .projectShops .projectShopBoxs {
  padding-right: 10px; }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectShops .projectShopBoxs a img {
    width: 100%;
    transition: all 0.4s;
    transform: scale(1); }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectShops .projectShopBoxs a:hover img {
    transform: translateY(-10px); }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectShops .projectShopBoxs .projectBoxTitle {
    transition: all 0.4s;
    color: #000; }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectShops .projectShopBoxs .projectBoxTitle:hover {
    color: #00a7c6; }
.projectModal .modal-dialog .modal-content .modal-body section .container .row .projectBackBtn {
  color: #2083fe;
  background-color: #e4f0ff;
  transform: scale(1);
  transition: transform 0.4s;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  letter-spacing: 2px !important;
  font-size: 24ox !important;
  padding: 0.4rem 1.1rem;
  line-height: 1.5;
  margin-bottom: 17px; }
  .projectModal .modal-dialog .modal-content .modal-body section .container .row .projectBackBtn i {
    margin-right: 7px;
    font-size: .875em; }
.projectModal .modal-dialog .modal-content .modal-body section .container .row .projectBackBtn:hover {
  transform: translateY(-6px);
  background-color: #c1dcff; }

.projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders .projectInfoSlide {
    width: 100%;
    height: auto;
    display: none; }
    .projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders .projectInfoSlide .image-container {
      width: 100%;
      height: 0;
      padding-bottom: calc(100% / (16 / 9));
      /* Ya da resmin oranına göre ayarlayın */
      position: relative; }
      .projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders .projectInfoSlide .image-container a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0; }
  .projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders .info-prev-btn,
  .projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders .info-next-btn {
    background-color: transparent;
    color: #00a7c6;
    font-size: 46px;
    text-decoration: none;
    padding: 10px 20px;
    /* Kalınlığı buradan ayarlayabilirsiniz */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    /* Geçiş süresini buradan ayarlayabilirsiniz */ }
  .projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders .info-prev-btn {
    left: 6px; }
  .projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders .info-next-btn {
    right: 6px; }
  .projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders .info-prev-btn:hover,
  .projectInfoModal .modal-dialog .modal-content .modal-body section .container .row .projectInfoSliders .info-next-btn:hover {
    transition: opacity 0.3s;
    opacity: 0.7;
    color: #5e97a1;
    /* İstenilen opaklık değerini buradan ayarlayabilirsiniz */ }

/*# sourceMappingURL=style.css.map */
