#camsModalScrollable {
    .modal-dialog {
        .modal-content {
            .modal-header {
                h1 {}

                button {
                    i {}
                }
            }

            .modal-body {
                section {
                    .container {
                        .row {
                            .camBox {
                                padding-right: 28px;
                                margin-bottom: 25px;

                                a {
                                    img {
                                        transition: all 0.4s;
                                        transform: scale(1);
                                    }
                                }

                                a {}
                            }

                            .camBox:hover {
                                a {
                                    img {
                                        transform: translateY(-10px);


                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}