.contactUsBtnBox {
    position: fixed;
    bottom: 5.4%;
    right: 35px;
    z-index: 20;

    /* don't forget to set a duration! */
    a {
        padding: 18px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        border-radius: 46% 46%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: #00A7C6;
            font-size: 24px;
        }
    }
}

//animasiya
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-6px) rotate(-5deg);
    }

    20% {
        transform: translateX(6px) rotate(5deg);
    }

    30% {
        transform: translateX(-6px) rotate(-5deg);
    }

    40% {
        transform: translateX(6px) rotate(5deg);
    }

    50% {
        transform: translateX(-6px) rotate(-5deg);
    }

    60% {
        transform: translateX(6px) rotate(5deg);
    }

    70% {
        transform: translateX(-6px) rotate(-5deg);
    }

    80% {
        transform: translateX(6px) rotate(5deg);
    }

    90% {
        transform: translateX(-6px) rotate(-5deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}

#hereket {
    animation: hareket 1.4s infinite;
}

#hereket {
    animation: shake 2s infinite;
}

#contactUsModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                form {
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .contactLogoImage {
                        a {
                            img {
                                margin: 20px 0px;
                            }
                        }
                    }

                    .contactUsInputsBox {
                        padding: 0 0 15px 0;
                        margin: 0 0 5px 0;

                        label {
                            margin-bottom: 0.5rem;
                            vertical-align: middle;
                            cursor: pointer;
                        }

                        input {
                            width: 100%;
                            margin: 0 0 3px 0;
                            zoom: 1;
                            min-width: 10px;
                            max-width: 100%;
                            padding: 8px;
                            height: auto;
                            line-height: 1.5;
                            font-size: 1em;
                            border: 1px solid #e3e3e3;
                        }

                        textarea {
                            max-height: 300px;
                            margin: 0 0 3px 0;
                            zoom: 1;
                            min-width: 10px;
                            max-width: 100%;
                            width: 100%;
                            padding: 8px;
                            height: auto;
                            line-height: 1.5;
                            font-size: 1em;
                            border: 1px solid #e3e3e3;

                        }

                        input:focus {
                            outline: none !important;
                            border-color: #719ECE;
                            box-shadow: 0 0 10px #719ECE;
                        }

                        textarea:focus {
                            outline: none !important;
                            border-color: #719ECE;
                            box-shadow: 0 0 10px #719ECE;
                        }
                    }



                    .contactButton {
                        margin: 10px 0;

                        button {
                            transition: transform .4s ease-in-out, background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out, -webkit-transform .4s ease-in-out;
                            padding: 8px 12px;
                            background: #fff;
                            border: 1px solid #ccc;
                            color: #333;
                            border-radius: 4px;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            display: block;
                            margin: 0;
                            cursor: pointer;
                            line-height: 1.5;
                            width: 100%;
                            max-width: 100%;

                            // .spanText {}

                            span {
                                i {
                                    margin-left: 10px;
                                }
                            }
                        }

                        button:hover {
                            background-color: #e6e6e6;
                            border-color: #adadad;
                            color: #333;
                        }
                    }

                    .contactRequired {
                        color: #cc0101;
                        margin: 0 0 0 5px;
                        font-size: 90%;
                        cursor: pointer;
                    }

                    .error-message {
                        color: red;
                        margin: 0;
                        background-color: #f2dede;
                        color: #b94a48;
                        border-left: 5px solid #c73412;
                        max-width: 100%;
                        font-family: SpartanMB, sans-serif;
                        font-size: 1rem;
                    }
                }
            }
        }
    }


}