#servicesModalScrollable {
    top: 8%  !important;

    .modal-dialog {
        .modal-content {

            .modal-body {
                padding-bottom: 120px !important;

                .row {
                    .servicesBox {
                        position: relative;

                        // padding: 0px 20px 0px 20px;

                        h2 {}

                        p {}

                        .servicesModalImage {

                            img {
                                position: absolute;
                                top: 96%;
                                left: 45%;
                            }
                        }
                    }

                    .boxPadding {
                        border-right: 1px solid;
                        border-left: 1px solid;
                    }

                    .iceri {
                        padding-left: 2em;
                        padding-right: 2em;
                    }

                    .leftP {
                        padding-left: 2.5em;

                    }

                    .rightP {
                        padding-right: 2.5em;

                    }
                }
            }
        }
    }

}