#servicesModalScrollable {
    .modal-dialog {
        .modal-content {

            .modal-body {

                .row {
                    .servicesBox {
                        position: relative;

                        // padding: 0px 20px 0px 20px;

                        h2 {}

                        p {}

                        .servicesModalImage {

                            img {
                                position: absolute;
                                top: 96%;
                                left: 45%;
                            }
                        }
                    }

                   

                   
                }
            }
        }
    }

}